.with-sidebar {
  display: flex;
  min-height: 100vh;
}

.main-with-sidebar {
  flex: 1;
  /* margin-left: 250px; Width of the sidebar */
  /* padding-top: 60px; Height of the header */
}

.main-without-sidebar {
  flex: 1;
  padding-top: 60px; /* Height of the header */
}
.main{
  padding-top: 65px; /* Height of the header */
}